/* === MEDIA QUERY === */

@media (min-width: 768px) {
  header{
    background-color: rgba(20, 40, 20, 0.6);
    width: 960px;
    height: 100px;
  }

  nav{
    background-color: rgba(255, 0, 0, 0.6);
    width: 200px;
    height: 600px;
    float: left;
  }
  
  div.big{
    width: 380px;
    height: 200px;
  }
  
  section{
    outline: 2px red solid;
  }

  .flex1{
    width: 760px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex2{
    width: 760px;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
  }
  
  div.small{
    width: 190px;
    height: 250px;
  }
  
  footer{
    background-color: rgba(26, 26, 224, 0.6);
    width: 760px;
    height: 150px;
    float: left;
  }

  section #h{
    background-color: rgba(250, 217, 0, 0.8);
  }

  section #g{
    background-color: rgba(71, 231, 71, 0.8);
  }

  section #f{
    background-color: rgba(121, 130, 255, 0.8);
  }
  
  section #e{
    background-color: rgba(255, 121, 155, 0.8);
  }
  
  section #d{
    background-color: rgba(195, 121, 255, 0.8);
  }
  
  section #c{
    background-color: rgba(255, 193, 121, 0.8);
  }
}


@media (max-width: 768px) {
  div.big{
    width: 480px;
    height: 125px;
  }
  
  .flex1{
    display: flex;
    flex-flow: row wrap;
    width: 480px;
    height: 250px;
  }
  
  .flex2{
    display: flex;
    flex-flow: row wrap;
    width: 480px;
    height: 500px;
  }
  
  div.small{
    width: 240px;
    height: 250px;
  }
}