/* === MEDIA QUERY === */

@media (min-width: 768px) {
  header{
    outline: 2px black solid;
    width: 960px;
    height: 100px;
  }

  nav{
    width: 200px;
    height: 600px;
    float: left;
  }
  
  div.big{
    width: 380px;
    height: 200px;
  }
  
  section{
    outline: 2px red solid;
  }

  .flex1{
    width: 760px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex2{
    width: 760px;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
  }
  
  div.small{
    width: 190px;
    height: 250px;
  }
  
  footer{
    width: 760px;
    height: 150px;
    float: left;
  }
}


@media (max-width: 768px) {
  div.big{
    width: 480px;
    height: 125px;
  }
  
  .flex1{
    display: flex;
    flex-flow: row wrap;
    width: 480px;
    height: 250px;
  }
  
  .flex2{
    display: flex;
    flex-flow: row wrap;
    width: 480px;
    height: 500px;
  }
  
  div.small{
    width: 240px;
    height: 250px;
  }
}