#c{
  background-color: rgba(250, 217, 0, 0.4);
}

#d{
  background-color: rgba(71, 231, 71, 0.4);
}

#e{
  background-color: rgba(121, 130, 255, 0.4);
}

#f{
  background-color: rgba(255, 121, 155, 0.4);
}

#g{
  background-color: rgba(195, 121, 255, 0.4);
}

#h{
  background-color: rgba(255, 193, 121, 0.4);
}